FIREBASE_PROJECT_ID=sistema-inventario-y-listas
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@tu-proyecto.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nTU_CLAVE_PRIVADA\\n-----END PRIVATE KEY-----\\n"
ADMIN_PASSWORD=coloca-una-contrasena-segura